body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#CardsDiv { 
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  grid-auto-rows: minmax(3rem, auto);
  padding-right: 10%;
  padding-left: 15%;


}

#CardsDivEntries { 
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  grid-auto-rows: minmax(3rem, auto);
  padding-right: 10%;
  padding-left: 15%;
  margin-top: 50px;
}

#CardsDiv2 { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  grid-auto-rows: minmax(3rem, auto);
  padding-right: 10%;
  padding-left: 15%;
  width: 300px;
  float:left; /* add this */
  /* border: 1px solid red; */
  
  
 

}

#CardsDiv3 { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  grid-auto-rows: minmax(3rem, auto);
  padding-right: 10%;
  padding-left: 15%;
  width: 300px;
  float:left;

}

#CardsDiv4 { 
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  grid-auto-rows: minmax(3rem, auto);
  padding-right: 10%;
  padding-left: 15%;
  width: 300px;
  float:left; /* add this */
  /* border: 1px solid red;
  border: 1px solid green; */
  /* overflow: hidden; if you don't want #second to wrap below #first */
 

}
.card{
 
  /* max-height: 400px; */
  /* min-width: 300px; */
  
 
}


.card-body {
 
  border-radius: 15px;
  /* background-color: rgb(243, 243, 243); */
  background-color: rgb(236, 241, 241);
  /* color: rgb(48, 47, 47); */
  color: rgb(48, 47, 47);
  letter-spacing: 2px;
outline: none; 

}

.card-img-top {
  height: 290px;
  width: 366px;
  display: center;
  object-fit: cover;
  object-position: center;
} 

.subtitle{
text-align:left;
padding-bottom: 10px;
position: relative;
justify-content: space-evenly;
display:flex;
margin-left: 1.5rem;
}
.manualadjust{
  margin-right: 4.2rem;
}
.manualadjust1{
  margin-left: 3rem;
}

.manualadjust2{
  margin-left: 2rem;
}

  
.cardpagetitle{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;

  font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-title{
  margin: 10px;
}
.card-text{
  margin: 10px
}

.binding{
  display: inline-block;
}

.searchbar{
  margin-left: 15px;
 /* float: right; */
  height: 43px;
  width:300px;
  color: black;
  border-radius: 8px;
  position: relative;
  outline: none;
  /* box-shadow: 10px; */
  /* border: none; */
  border-color: rgb(223, 223, 233);
  color: rgb(32, 31, 31); 
   padding: 20px;
  font-size: 20px;
  position:absolute;
  margin-left: 1008px;
  
}

.searchicon{
  width: 30px;
  top:231px;
  margin-left: 960px;
  position: absolute;
}


.searchbarentries{
  margin-left: 15px;
 /* float: right; */
  height: 43px;
  width:300px;
  color: black;
  border-radius: 8px;
  position: relative;
  outline: none;
  /* box-shadow: 10px; */
  /* border: none; */
  border-color: rgb(223, 223, 233);
  color: rgb(32, 31, 31); 
   padding: 20px;
  font-size: 20px;
  position:absolute;
  margin-left: 1150px;
  
}

.searchiconentries{
  width: 30px;
  top:168px;
  margin-left: 1099px;
  position: absolute;
}


.searchbarentries2{
  margin-left: 15px;
 /* float: right; */
  height: 43px;
  width:300px;
  color: black;
  border-radius: 8px;
  position: relative;
  outline: none;
  /* box-shadow: 10px; */
  /* border: none; */
  border-color: rgb(223, 223, 233);
  color: rgb(32, 31, 31); 
   padding: 20px;
  font-size: 20px;
  position:absolute;
  margin-left: 970px;
  
}

.searchiconentries2{
  width: 30px;
  top:168px;
  margin-left: 920px;
  position: absolute;
}





.deletebtn{
  margin-bottom: 10px;
  float:right;
  text-decoration: none;
  background-color: white;
  height: 20px;
  font-size: x-small;
}

.pageheader{
  margin: 15px;
  padding:10px;
  padding-left: 15%;
  display: inline-block;
}

.bioheader{
  text-align: center;
  padding:70px;  
}

.bioheader p{
  font-size: 25px;
}

.biotitle{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
}

.profileImage{
  width: 270px;
  border-radius: 50%;
  display: center;
  object-fit: cover;
  object-position: center;
  
 
}

.profileDiv{
  padding: 20px;
  text-align: center;
  
line-height: normal;
vertical-align: middle;
  
}

.biodiv{
  background-color: rgb(243, 239, 239);
  width: 500px;
  text-align: center;
  display: inline-block;
line-height: normal;
vertical-align: middle;
padding:20px;
border-radius: 10px;
}

.profilebtn{
  margin:5px;
  display: inline-block;
  width: 130px;
height: 60px;
margin:10px;
border-radius: 10px;
color:rgb(37, 37, 37);
background-color: rgb(255, 255, 255);
letter-spacing: 2px;
}
.profilebtn:hover{
  background-color:rgb(34, 32, 32);
  color:rgb(255, 254, 254);
  font-weight: bolder;
  letter-spacing: 2px;
}


.profilebuttondiv{
margin-top:20px;
}

.navdiv{
  height:80px;
  background-color:rgba(0, 0, 0, 0.808);
  text-decoration: none;
}

.navdiv a{
text-decoration: none;
color: rgb(255, 255, 255);
margin:20px;
font-size: larger;
font-family: Georgia, 'Times New Roman', Times, serif;
letter-spacing: 3px;
}
.navdiv:hover{
  color: rgb(124, 124, 124);
  text-decoration: none;
}

.landingpageheader{
 
  padding-top:30px;
  text-align: center;
 
}
.errorcode{
 
  padding-top:30px;
  text-align: center;
  color: rgb(194, 30, 30);
  font-weight: 500;
 
}
.landingImage{
  width: 750px;
  /* float:left;
  margin-right: 60px;
  margin-left: -40px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo{
  width: 100px
}

.header{
  font-family: 'Alice', serif;
  font-size: 100px;
}
.subheader{
 
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif
}
.buttondiv{
  margin-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 23px;
}

.loginbtn{
width: 150px;
height: 70px;
margin:10px;
border-radius: 10px;
color:azure;
background-color: black;
letter-spacing: 2px;
}
.loginbtn:hover{
  background-color:white;
  color:black;
  letter-spacing: 2px;

}

.btn btn-dark{
  width:200px;
  
}

.form-special{
  
  display: block;
  width: 500px; 
    margin-left: auto;
    margin-right: auto;
    text-align: left;  
  
}

.newprojectform{
  /* margin-top: 90px; */
  display: block;
  width: 600px; 
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.entryform{
  display: block;
  width: 600px; 
    margin-left: 330px;
    margin-right: auto;
    text-align: left;
}

.formdiv{
 padding-top:30px;
  display: block;
 
   
 
}

.formTitle{
  padding-top:70px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;
}

.formButton{
  text-align: center;
  
}

.formButton2{
  /* text-align: center; */
   margin-left: 330px;
    margin-right: auto;
    margin-bottom: 20px;
}

.formbtn{
  margin-top: 20px;
  margin-right: 10px;
  background-color:white;
  color:black;
  letter-spacing: 2px;
}

.overlay{
  background-color: rgba(10, 10, 9, 0.555);
  width:100%;
  height:190%;
  z-index: 900;
  position: absolute;
}
.askdiv{
  position:absolute;
  top: 0;
  text-align: center;
  margin:20px;
  z-index: 1000;
 
  /* background-color: rgb(218, 213, 218); */
  padding: 20px;
  border-radius: 20px;
 
  top: 20%;
  left: 37%;
  /* height:; */
  /* bottom:60px; */
  background-color: rgb(202, 219, 240);
  width: 500px;
  text-align: center;
  position: fixed;
  

}

.pointer {
	height: 40px;
	width: 40px;
  background-color: rgb(202, 219, 240);

	margin: 0 auto;
	transform: rotate(45deg);
	border-radius: 0 0 12px 0;
	margin-top: -22px;
	position: absolute;
  right:400px;
	z-index: 1000;
  top: 100%;
  right: 15%;
	left: calc(0.5vw - 59px);
}


/* .pointer {
	height: 40px;
	width: 40px;
	background:rgb(240, 240, 240);
	margin: 0 auto;
	transform: rotate(45deg);
	border-radius: 0 0 12px 0;
	margin-top: -22px;
	position: absolute;
  right:400px;
	z-index: 1000;
  top: 50%;
  right: -80%;
	left: calc(0.5vw - 59px);
} */


.askPlan{

  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(17, 17, 17);
  font-size: 30px;
  border:none;
  /* background-image: ; */
  margin: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.askdivbuttons{
 font-weight: bolder;

}

.closeaskdivbtn:hover{

  background-color: rgb(255, 255, 255);
 
 }

.closeaskdivbtn{
  height:39px;
  font-size: 20px;
  margin-top: 30px;
  margin:10px;
  border-radius: 10px;
  border:none;
  margin-bottom: 20px;
  
  
}

.askdiv-img{
  position: fixed;
  top: 55%;
  right: 50%;
  width: 250px;
  
}

.response{

  /* background-color: rgb(226, 226, 226); */

  border-radius: 10px;
 text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 20px ;
  padding:5px ;
}

.addprompt{
  text-align: center;
  margin-top: 50px;
  background-color: rgb(231, 231, 231);
  padding: 80px;
  padding-top: 200px;
  padding-bottom: 300px;
  margin-right:300px;
  margin-left:300px;
  border-radius: 30px;
}
.prompttitle{
  padding-bottom: 20px;
}
.addbtn{
 
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.calander-div{
  
  padding-top: 20px;
  display: inline-block;
  width:260px;

  margin:20px;

}

.calander-div2{
  vertical-align:top;
  width:260px;
 
  padding-top: 20px;
  display: inline-block;
  margin:20px;

}

.general-button-special{
  outline:none;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  margin-top:10px;
  font-size: 20px;
  /* background: linear-gradient(rgb(27, 25, 25), rgb(255, 255, 255)); */
  outline: none;
  box-shadow: 5px;
  border: none;
  background-color: #afb3bb;
  color: rgb(255, 255, 255);

}

.general-button{
  outline:none;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  margin-top:10px;
  font-size: 20px;
  /* background: linear-gradient(rgb(27, 25, 25), rgb(255, 255, 255)); */
  outline: none;
  box-shadow: 5px;
  border: none;
  background-color: rgb(188, 219, 240);

}


/* card buttons below */
.general-button2{
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
  background-color: rgb(199, 209, 216);
  outline: none;
  box-shadow: 5px;
  border: none;
  font-size: 18px;
  
 
}

.edit-button{
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 15px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
 
  background-color: rgb(205, 206, 214);
 
}


